/*At this point, bootstrap is already loaded, and we can apply our custom.css*/
/*It is best to limit bootstrap customizations to colour, font, and other*/
/*settings that would not interfere with the mobile layout of bootstrap.*/

/*This just has fun changing the colour of list font*/
li a {
    color: yellowgreen;
}

/*Change my primary color for p*/
p.my-primary {
    color: darkgreen;
    background-color: black;
}


btn.primary {
    background: black;
}


/*!*This is not seen when using the bootstrap template, also, we*/
/*cannot use Django template features here, this path needs to work*/
/*in both development and deployment. *!*/
body {
    background: white url("../images/background.gif") no-repeat;
}

/*This class is used in the bootstrap template*/
.fakeimg {
    height: 50px;
    background: darkslategrey;
}

